<!-- users.html written by Brinkley Hill -->

<%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2"><%= pagename %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
      </div>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
      >
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <form action="newuser" method="POST" class="form-inline">
    <p><b>Create New User</b></p>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter username"
        name="username"
      />

      <input
        type="text"
        class="form-control"
        id="password"
        placeholder="Enter password"
        name="password"
      />

      <select id="permlevel" class="form-control" name="permlevel">
        <option hidden>Select Permission Level</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>

      <button type="submit" class="btn btn-danger" id="insertButton">Insert</button>
    </div>
  </form>
  <p></p>
  <div class="table-responsive border">
    <table class="table table-hover" style="overflow:auto" height="100px">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">PermLevel</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<users.length; i++) {%>
        <tr>
          <td id="username" contenteditable="false"> <%= users[i].Username %></td>
          <td id = "password" contenteditable="false" ><%= users[i].Password %></td>
          <td id = "permlevel" contenteditable="false"><%= users[i].PermissionLevel %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<style>
   .table-responsive {
    overflow-y:scroll;
    height: 400px;
    border-radius: 5px;

  }
input {
  margin-right: 9px;
  border-radius : 5px;
}
select {
  margin-right: 5px;
}


.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 5;
  border-bottom-right-radius: 5;
}
</style>

<%- include('partials/footer.ejs') %>
